 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  /*
  h2 {
    color: #333;
  }
  
  input {
    display: block;
    
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    max-width: 500px;
    margin-left: 35% !important;
  }
  
  .logbutton{
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 30% !important;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  div {
    margin: 20px;
  }
   */